<div
  class="flex flex-col justify-center items-center h-screen gap-2 font-bold text-2xl text-slate-800"
>
  <div class="flex gap-1">
    <app-greeting [greeting]="sharedGreet"></app-greeting>
    <app-name></app-name>
  </div>
  <div>
    <app-input (valueChange)="changeGreet($event)"></app-input>
  </div>
  <div>
    <app-tabs></app-tabs>
  </div>
  <button routerLink="/user" class="text-sm cursor-pointer text-slate-400 hover:text-slate-600 font-medium">
                    User →
                </button>
                <button routerLink="/add-user" class="text-sm cursor-pointer text-slate-400 hover:text-slate-600 font-medium">
                    Register Form →
                </button>
                <button routerLink="/login" class="text-sm cursor-pointer text-slate-400 hover:text-slate-600 font-medium">
                    Login Form →
                </button>
</div>